.notion-selectable.notion-page-block.notion-collection-item div {
  padding: 0px 0px 0px 1px !important;
  font-size: 9px;
  xbackground: red;
  min-height: 10px !important;
  line-height: 100% !important;
  height: 11px
}

/** Bring this back **/
.notion-record-icon {
  display: none;
}

.notion-selectable.notion-page-block.notion-collection-item svg {
    width: 12px !important;
    height: 12px !important;
    xdisplay: block;
    xfill: rgba(55, 53, 47, 0.8);
    xflex-shrink: 0;
    xbackface-visibility: hidden;
}

/** Font size */
.notion-table-view div div div span {
 xfont-size: 12px; 
 font-weight: 400
}

/** Icon opacity */
.notion-table-view div div div svg {
 opacity: .5
}

.notion-table-view .notion-selectable div div:nth-of-type(300) {
  font-size: 9px
}
